@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Gotham';
    src: url('../assets/fonts/GothamMedium.ttf') format('opentype');
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Regular.ttf') format('opentype');
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/Poppins-Bold.ttf') format('opentype');
    font-weight: bold;
}

* {
    @apply font-poppins;
}

.bg-img {
    background-image: url('../assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.bg-img::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}

.bg-img > * {
    z-index: 2;
    position: relative;
}

.dot-1,
.dot-2,
.dot-3 {
    opacity: 0;
    animation: glitch 1s infinite;
    animation-delay: 0s, 0.2s, 0.4s;
}

.dot-2 {
    animation-delay: 0.1s, 0.3s, 0s;
}

.dot-3 {
    animation-delay: 0.2s, 0.4s, 0.1s;
}

@keyframes glitch {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    20% {
        opacity: 1;
        transform: scale(1.5);
    }
    40% {
        opacity: 1;
        transform: scale(1);
    }
    60% {
        opacity: 0.5;
        transform: scale(1.5);
    }
    80% {
        opacity: 0.5;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.card-container::-webkit-scrollbar {
    display: none;
}
