.home-wrapper {
    @apply w-screen relative min-h-screen overflow-hidden;
    background-image: url('../../../assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.home-wrapper::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.home-wrapper > * {
    z-index: 2;
    position: relative;
}
