.home-wrapper {
    @apply relative min-h-screen overflow-hidden w-full;
    background-image: url('../../../assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.home-wrapper::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.home-wrapper > * {
    z-index: 2;
    position: relative;
}

.shadow-deck {
    box-shadow:
        0 12.5px 100px -10px rgba(50, 50, 73, 0.2),
        0 10px 10px -10px rgba(50, 50, 73, 0.1);
}

.slick-dots li button:before {
    @apply text-white font-bold;
}

.slick-dots li.slick-active button:before {
    @apply text-green-600 font-bold;
}
