@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply min-h-screen w-screen relative overflow-x-hidden overflow-auto bg-green-600;
    background-image: url('../assets/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

:root::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

#app_wrapper {
    @apply relative z-10;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
