@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply h-screen w-screen overflow-hidden relative bg-green-600;
}

#app_wrapper {
    @apply relative z-10 h-screen w-screen overflow-y-auto bg-black bg-opacity-40;
    z-index: 2;
    position: relative;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
